{% extends 'base.html.twig' %}

{% block title %}Liste Radios
{% endblock %}

{% block body %}
	<main>
		<div id="conteneur">
			<h2>Liste des Radios</h2>

			<p>
				Radio par défaut :
				{% for api_radio in api_radios %}
					{% if api_radio.isDefault == 1 %}
						{{ api_radio.nom }}
					{% endif %}
				{% endfor %}
			</p>

			{{ include('api_radio/_form.html.twig') }}

			<a href="{{ path('app_api_radio_new') }}">Ajouter une nouvelle radio</a>

			<table class="table">
				<thead class="thead">
					<tr>
						<th>Nom</th>
						<th>Ville</th>
						<th>Code Postal</th>
						<th>Flux radio</th>
						<th>Rayon (km)</th>
						<th>Image de la radio</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for api_radio in api_radios|reverse %}
						<tr>
							<td>{{ api_radio.nom }}</td>
							<td>{{ api_radio.ville }}</td>
							<td>{{ api_radio.codePostal }}</td>
							<td><a href="{{ api_radio.fluxAudio }}">{{ api_radio.fluxAudio }}</a></td>
							<td>{{ api_radio.rayon }}</td>
							{% if api_radio.imageURL is null %}
								{# Affichage de l'image par défaut si aucune image n'est rentré #}
								<td><img src="{{ asset('assets/image/bgdefault.jpg') }}"></td>
							{% else %}
								<td>
									<img src="{{ api_radio.imageURL }}">
								</td>
								{% endif %}
								<td>
									<a href="{{ path('app_api_radio_edit', {'id': api_radio.id}) }}">Modifier</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="6">Aucune information trouvée</td>
							</tr>
						{% endfor %}
					</tbody>
				</tbody>
			</table>


		</div>
	</main>
{% endblock %}
