<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('style.css') }}">

		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<header>
			<h1>Admin Capsao</h1>
		</header>
		<div class="headerContent">
			{% block menu %}
				{% if app.user %}
					<p>
						<a href="{{path('app_menu')}}">
							<img class="iconHome" src="{{ asset('assets/image/home.png') }}"/>
						</a>
					</p>
				{% endif %}
			{% endblock %}
			{% block logout %}
				{% if app.user %}
					<div class=" mb-3">
						Vous êtes connecté en tant que :
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% endif %}
			{% endblock %}
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
