{% extends 'base.html.twig' %}

{% block title %}Liste Slider
{% endblock %}

{% block body %}
	<main>
		<div id="conteneur">
			<h2>Liste événements dans le Slider</h2>

			<table class="tableSlider">
				<thead>
					<tr>
						<th>Titre</th>
						<th>Date publication</th>
						<th>Image de l'événement</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for slider in sliders %}
						<tr>
							<td>{{ slider.title }}</td>
							<td>{{ slider.pubDate }}</td>
							<td>
								<img id="imgSlider" src="{{ slider.urlImg }}"/></td>
							<td id="btnSlider">
								<a href="{{ path('app_slider_edit', {'id': slider.id}) }}">Modifier</a>
								{{ include('slider/_delete_form.html.twig') }}
							</td>
						</tr>
					</tbody>
				</tbody>
			</tr>

		{% else %}
			<tr>
				<td colspan="9">Aucune information trouvée</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<a href="{{ path('app_slider_new') }}">Ajouter un événement au slider</a>{% endblock %}
