{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<main>
		<div id="conteneur">
			{% if is_granted('ROLE_ADMIN') %}
				<a class="btn btnPrimary btnMenu" href="{{path('app_zone_texte')}}">Texte d'accueil</a>
			{% endif %}
			{% if is_granted('ROLE_USER') %}
				<a class="btn btnPrimary btnMenu" href="{{path('app_slider_index')}}">Le slider</a>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<a class="btn btnPrimary btnMenu" href="{{path('app_api_radio_index')}}">Les radios</a>
			{% endif %}
			{% if is_granted('ROLE_USER') %}
				<a class="btn btnPrimary btnMenu" href="{{path('app_api_podcast_index')}}">Les podcasts</a>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
				<a class="btn btnPrimary btnMenu" href="{{path('app_api_event')}}">Lien événement</a>
				<a class="btn btnPrimary btnMenu" href="{{path('app_user_index')}}">Les utilisateurs</a>
			{% endif %}
		</div>
	</main>
{% endblock %}
