{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{path('app_api_podcast_index')}}">Gérer les podcasts</a>   
        <a href="{{path('app_zone_texte')}}">Gérer le texte de description</a>
        <a href="{{path('app_slider_index')}}">Gérer le Slider</a>        
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{path('app_api_radio_index')}}">Gérer les radios</a>
        <a href="{{path('app_user_index')}}">Liste des utilisateurs</a>
        <a href="{{path('app_register')}}">Création nouvel utilisateur</a>
        <a href="{{path('app_api_event')}}">Gérer lien événement</a>
    {% endif %}

{% endblock %}
